{% extends '_layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center">Autenticação</h1>
    {% crispy form %}
    <a href="{% url 'users:recover_password' %}">Esqueceu a senha?</a>
    <h4>Entre com o Facebook ou Twitter</h4>
    <a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'img/facebook.png' %}" alt="Facebook"/></a>
    <a href="{% url 'social:begin' 'twitter' %}"><img src="{% static 'img/twitter.png' %}" alt="Twitter"/></a>
  </div>
{% endblock body %}