Django>=1.8,<1.9
django-autoslug==1.9.3
django-braces==1.9.0
django-crispy-forms==1.6.0
django-compressor==2.0
django-cors-middleware==1.2.0
django-password-reset==0.9
djangorestframework==3.3.3
dj-database-url==0.4.1
easy-thumbnails==2.3
facebook-sdk==1.0.0
Pillow==3.3.0
python-social-auth==0.2.19
python3-openid==3.0.10
opbeat==3.3.4
psycopg2==2.6.2
python-decouple==3.0
