Django>=1.8,<1.9
django-autoslug==1.9.3
django-braces==1.8.1
django-crispy-forms==1.6.0
django-compressor==2.0
django-password-reset==0.8.2
easy-thumbnails==2.3
facebook-sdk==1.0.0
Pillow==3.2.0
python-social-auth==0.2.19
python3-openid==3.0.10
opbeat==3.3.1
psycopg2==2.6.1
python-decouple==3.0
