{% load thumbnail %}

<form class="form-horizontal col-md-6" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="form-group{% if form.status.errors %} has-error{% endif %}">
    <label for="{{ form.status.id_for_label }}" class="col-sm-2 control-label">Situação:</label>

    <div class="col-sm-10">
      {{ form.status }}
      {{ form.status.errors }}
    </div>
  </div>

  <div class="form-group{% if form.name.errors %} has-error{% endif %}">
    <label for="{{ form.name.id_for_label }}" class="col-sm-2 control-label">Nome</label>

    <div class="col-sm-10">
      {{ form.name }}
      {{ form.name.errors }}
    </div>
  </div>

  <div class="form-group{% if form.profile_picture.errors %} has-error{% endif %}">
    <label for="{{ form.profile_picture.id_for_label }}" class="col-sm-2 control-label">Foto</label>

    <div class="col-sm-10">
      {{ form.profile_picture }}
      {{ form.profile_picture.errors }}
      <span class="help-block">{{ form.profile_picture.help_text }}</span>
    </div>
  </div>

  <div class="form-group{% if form.description.errors %} has-error{% endif %}">
    <label for="{{ form.description.id_for_label }}" class="col-sm-2 control-label">Descrição</label>

    <div class="col-sm-10">
      {{ form.description }}
      {{ form.description.errors }}
    </div>
  </div>

  <div class="form-group{% if form.city.errors %} has-error{% endif %}">
    <label for="{{ form.city.id_for_label }}" class="col-sm-2 control-label">Cidade</label>

    <div class="col-sm-10">
      {{ form.city }}
      {{ form.city.errors }}
      <span class="help-block">Não encontrou sua cidade? <a id="new-city" href="#">Clique aqui</a></span>

      <div class="new-city">
        {{ form.new_city }}
        {{ form.new_city.errors }}
      </div>
    </div>
  </div>

  <div class="form-group{% if form.kind.errors %} has-error{% endif %}">
    <label for="{{ form.kind.id_for_label }}" class="col-sm-2 control-label">Espécie</label>

    <div class="col-sm-10">
      {{ form.kind }}
      {{ form.kind.errors }}
    </div>
  </div>

  <div class="form-group{% if form.size.errors %} has-error{% endif %}">
    <label for="{{ form.size.id_for_label }}" class="col-sm-2 control-label">Tamanho</label>

    <div class="col-sm-10">
      {{ form.size }}
      {{ form.size.errors }}
    </div>
  </div>

  <div class="form-group{% if form.sex.errors %} has-error{% endif %}">
    <label for="{{ form.sex.id_for_label }}" class="col-sm-2 control-label">Sexo</label>

    <div class="col-sm-10">
      {{ form.sex }}
      {{ form.sex.errors }}
    </div>
  </div>

  <div class="form-group">
    <input type="submit" name="submit" class="btn btn-primary pull-right" value="
    {% if pet %}
      Salvar Alterações
    {% else %}
      Cadastrar Pet
    {% endif %}
    ">
  </div>
</form>

<div class="col-md-6">
  <img src="{{ form.instance.profile_picture|thumbnail_url:'pet_thumb' }}"
       class="img-thumbnail" alt="Imagem Pet"
       id="picture" name="imagem"/>
</div>
