<div class="col-md-2">
  <h3>Desaparecidos</h3>
  <ul class="nav">
    {% for kind in kind_lost %}
      <li><a class="btn btn-category" href="{% url 'meupet:lost' kind.slug %}">
        {{ kind }} <span class="badge">{{ kind.num_pets }}</span></a>
      </li>
    {% endfor %}
  </ul>
  <h3>Para Adoção</h3>
  <ul class="nav">
    {% for kind in kind_adoption %}
      <li><a class="btn btn-category" href="{% url 'meupet:adoption' kind.slug %}">
        {{ kind }} <span class="badge">{{ kind.num_pets }}</span></a>
      </li>
    {% endfor %}
  </ul>
</div>