{% extends '_layouts/base.html' %}
{% load static %}
{% load thumbnail %}

{% block metatags %}
  <meta property="og:title" content="{{ pet.name }} | Cadê meu Bicho?">
  <meta property="og:description" content="{{ pet.description }}">
  <meta property="og:url" content="{{ current_url }}">
  <meta property="og:image"
        content="http://www.cademeubicho.com{{ pet.profile_picture|thumbnail_url:'pet_thumb' }}">
  <meta property="og:site_name" content="Cadê meu Bicho?">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ pet.name }} | Cadê meu Bicho?">
  <meta name="twitter:description" content="{{ pet.description }}">
  <meta name="twitter:image:src"
        content="http://www.cademeubicho.com{{ pet.profile_picture|thumbnail_url:'pet_thumb' }}">
{% endblock %}

{% block title %}{{ pet.name }} - {{ pet.get_status_display }}{% endblock %}

{% block content %}
  <div class="modal fade" id="delete_pet">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Apagar Cadastro</h4>
        </div>

        <div class="modal-body">
          <p>Deseja realmente apagar esse pet?</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

          <form action="{% url 'meupet:delete_pet' pet.slug %}" method="post" class="form-inline">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Apagar"/>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <a href="{{ pet.profile_picture.url }}" data-lightbox="{{ pet.slug }}" data-title="{{ pet }}">
        <img class="img-thumbnail" src="{{ pet.profile_picture|thumbnail_url:'pet_thumb' }}"
             alt="{{ pet }}"/>
      </a>
      {% if user == pet.owner %}
        <form class="form-horizontal" method="POST" enctype="multipart/form-data"
              action="{% url 'meupet:upload_image' pet.slug %}">
          {% csrf_token %}
          <input name="pet_id" value="{{ pet.id }}" hidden="hidden">

          <div class="form-group">
            <label for="another_picture" class="control-label">Adicionar Foto</label>
            <input type="file" id="another_picture" name="another_picture">
            <span class="help-block">Tamanho máximo da imagem é 8MB</span>
          </div>
          <div class="form-group">
            <input type="submit" name="submit" class="btn btn-primary pull-right" value="Gravar Imagem">
          </div>
        </form>
      {% endif %}
    </div>

    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            <strong>Descrição:</strong><br/>
            {{ pet.description }}
          </p>

          <p>
            <strong>Cidade:</strong><br/>
            {{ pet.city|title }}
          </p>

          {% if pet.size %}
            <p>
              <strong>Tamanho:</strong><br/>
              {{ pet.get_size_display }}
            </p>
          {% endif %}

          {% if pet.sex %}
            <p>
              <strong>Sexo:</strong><br/>
              {{ pet.get_sex_display }}
            </p>
          {% endif %}

          <p>
            <strong>Contato:</strong><br/>
            <a href="{% url 'users:user_profile' pet.owner.id %}">{{ pet.owner.get_full_name }}</a>
            {% if pet.owner.facebook %} | <a href="{{ pet.owner.facebook }}">Facebook</a>{% endif %}
          </p>

          <p>
            <strong>Compartilhar:</strong><br/>
            <a href="http://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank">
              <img src="{% static 'img/facebook.png' %}" alt="Facebook"/>
            </a>
            <a href="http://twitter.com/share?url={{ current_url }}" target="_blank">
              <img src="{% static 'img/twitter.png' %}" alt="Twitter"/>
            </a>
          </p>
          {% if user == pet.owner %}
            <div class="pull-right">
              {% if not pet.found_or_adopted %}
                <form action="{% url 'meupet:change_status' pet.slug %}" method="post" class="form-inline">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-success" value="
                    Marcar como
                    {% if pet.status == pet.MISSING %}
                    encontrado!
                    {% else %}
                    adotado!
                    {% endif %}
                  "/>
                </form>
              {% endif %}

              <a href="{% url 'meupet:edit' pet.slug %}" class="btn btn-primary">Editar</a>

              <a href="{% url 'meupet:poster' pet.slug %}" class="btn btn-primary">Gerar Cartaz</a>

              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_pet">
                Apagar Pet
              </button>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if pet.photo_set.all %}
      <div class="col-md-12">
        <h3>Outras fotos</h3>

        <div class="row">
          {% for photo in pet.photo_set.all %}
            <div class="col-md-3">
              <a href="{{ photo.image.url }}" data-lightbox="{{ pet.slug }}" data-title="{{ pet }}">
                <img class="img-thumbnail" src="{{ photo.image|thumbnail_url:'pet_thumb' }}"
                     alt="{{ pet }}"/>
              </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
              </div>
              <div class="row">
            {% endif %}
          {% endfor %}
          </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
