{% extends '_layouts/base.html' %}
{% load static %}

{% block title %}Sobre{% endblock %}

{% block content %}
  <p>
    O Cadê meu Bicho existe há cerca de três anos. A ideia do site surgiu após um resgate e adoção de duas gatinhas e
    de um gato, Darwin, que desapareceu no mesmo
    período.
  </p>

  <p>
    Atualmente, o Facebook é uma ferramenta essencial para inúmeras associações e ONGs para divulgar adoções,
    desaparecimentos e pedidos de ajuda em prol de animais de diversas espécies.
  </p>

  <p>
    Apesar dessa inegável utilidade, facilidade e popularidade, o Facebook é um dos principais - e mais rápidos - meios
    de
    divulgação de informações, o que faz com que muitos posts dessas ONGs e associações se percam no imenso mar de
    compartilhamentos diários.
  </p>

  <p>
    Gostaríamos que houvesse algo centralizado e bem simples. Um lugar onde os animais são o foco.E foi assim que o site
    ganhou vida.
  </p>

  <p>
    O código fonte por trás do site é aberto e está disponível no GitHub, isso possibilita que qualquer pessoa com o
    conhecimento necessário possa enviar alterações ou utilizar o que já foi feito para criar um site pra sua cidade ou
    ONG.
  </p>

  <h2 class="text-center">Nossos números</h2>
  <div class="row">
    <div class="col-md-6">
      <p class="site-stats">{{ pets_count }} pets cadastrados</p>
      <p>Contando cadastros ativos e inativos</p>
    </div>

    <div class="col-md-6">
      <p class="site-stats">{{ users_count }} usuários cadastrados</p>
    </div>
  </div>
{% endblock %}
