{% load thumbnail %}
<div class="row">
  {% for pet in pets %}
    <div class="col-xs-12 col-sm-6 col-md-4 card-pet">
      <div class="thumbnail">
        <img src="{{ pet.profile_picture|thumbnail_url:'pet_thumb' }}" alt="{{ pet }}">

        <div class="caption clearfix">
          <div class='pull-left'>
            <h4>{{ pet }}</h4>
            <span><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ pet.city|title }} </span>
          </div>
          <a href="{% url 'meupet:detail' pet.id %}" class="btn btn-info pull-right" role="button">Detalhes</a>
        </div>
      </div>
    </div>
  {% empty %}
    <div class="col-md-12">
      <h4>Nenhum amiguinho cadastrado nessa categoria ainda. :)</h4>
    </div>
  {% endfor %}
</div>