{% load thumbnail %}
<div class="row">
  {% for pet in pets %}
    <div class="col-xs-12 col-sm-6 col-md-4 card-pet">
      <div class="thumbnail {% if pet.is_found_or_adopted %} found-or-adopted{% endif %}">
        <img src="{{ pet.profile_picture|thumbnail_url:'pet_thumb' }}" alt="{{ pet }}">

        {% if pet.is_found_or_adopted %}
          <h2 class="text-center"><span>{{ pet.get_status_display }}! :)</span></h2>
        {% endif %}

        <div class="caption clearfix">
          <h4>{{ pet }}</h4>
          <div class="pull-left align-with-btn">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ pet.city|title }}
          </div>
          <div class="pull-right">
            <a href="{% url 'meupet:detail' pet.slug %}" class="btn btn-info pull-right" role="button">Detalhes</a>
          </div>
        </div>
      </div>
    </div>
  {% empty %}
    <div class="col-md-12">
      <h4>Nenhum amiguinho cadastrado nessa categoria ainda. :)</h4>
    </div>
  {% endfor %}
</div>