body {
  font-family: 'Open Sans', sans-serif;
}

.box-shadow {
  -webkit-box-shadow: 10px 10px 21px 0 rgba(50, 50, 50, 0.76);
  -moz-box-shadow: 1px 1px 21px 0 rgba(50, 50, 50, 0.76);
  box-shadow: 1px 1px 21px 0 rgba(50, 50, 50, 0.76);
}

.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
}

.card-pet {
  height: 390px;
  margin-bottom: 15px;
}

.card-pet a {
  margin-top: 15px;
}

li.active {
  font-weight: 800;
}

.form-mark-success {
  display: inline;
}

/** Navbar **/
.navbar-pets {
  background-color: #1b443c;
}

.navbar-pets a {
  color: #e9f6f4;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #1b443c;
  color: #fff;
}

.navbar-toggle .icon-bar {
  background-color: #e9f6f4;
}

.italic {
  font-style: italic;
}