{% load static compress meupet_tags %}
<!DOCTYPE html>
<html>
<head lang="pt-br">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Cadê meu Bicho | Animais perdidos e para adoção</title>
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/pets.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  {% endcompress %}
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700,300,400' rel='stylesheet' type='text/css'>
  {% block metatags %}{% endblock %}
  {% if not debug %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49489257-3', 'auto');
      {% block ga_log_not_found %}
      ga('send', 'pageview');
      {% endblock %}
    </script>
  {% endif %}
</head>
<body>
<div class="navbar {% block extra_navbar_css %}{% endblock %}" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'common:homepage' %}">
        Cadê meu Bicho
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'meupet:index' %}">Pets</a></li>
        <li><a href="{% url 'meupet:register' %}">Cadastrar Pet</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'users:profile' %}">Seu Perfil</a></li>
          <li><a href="{% url 'users:logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'users:create' %}">Criar Conta</a></li>
          <li><a href="{% url 'users:login' %}">Login</a></li>
        {% endif %}
        <li><a href="{% url 'common:about' %}">Sobre</a></li>
        <li><a href="{% url 'meupet:search' %}">Busca</a></li>
      </ul>
    </div>
  </div>
</div>

{% block heading %}
  <div class="heading">
    <h3 class="title-text text-center">{% block title %}{% endblock %}</h3>
  </div>
{% endblock %}

{% block page %}
  <div class="container">
    <div class="row">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <div class="alert {% if message.tags %}
            {% if 'error' in message.tags %}
                alert-danger
            {% else %}
                alert-{{ message.tags }}
            {% endif %}
          {% endif %}" role="alert">
              {{ message|safe }}
            </div>
          {% endfor %}
        </ul>
      {% endif %}

      {% block body %}
        {% sidemenu %}

        <div class="col-md-10">
          {% block content %}
          {% endblock content %}
        </div>
      {% endblock body %}
    </div>
  </div>
{% endblock %}

<div class="footer hidden-print">
  <div class="footer-head">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="title-text">Cadê meu Bicho</h2>
        </div>
        <div class="col-sm-6 text-right small-text">
          Feito com &hearts; em Araras - São Paulo
        </div>
      </div>
    </div>
  </div>

  <div class="footer-body">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="title-text">O que é?</h4>

          <p>O objetivo do Cadê meu Bicho é proporcionar o encontro entre os melhores ou futuro melhores amigos. :)</p>
        </div>
        <div class="col-md-4 text-center">
          <h4 class="title-text">Contato</h4>

          <ul class='list-unstyled'>
            <li>
              <a href="mailto:contato@cademeubicho.com">contato@cademeubicho.com</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="fb-page" data-href="https://www.facebook.com/kdmeubicho/" data-small-header="true"
               data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/kdmeubicho/"><a href="https://www.facebook.com/kdmeubicho/">Cadê
                meu Bicho</a></blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% compress js %}
  <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/lightbox.js' %}"></script>
  <script src="{% static 'js/matchMedia.js' %}"></script>
  <script src="{% static 'js/pets.js' %}"></script>
  {% if not debug %}
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5&appId=388312971328768  ";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  {% endif %}
{% endcompress %}
{% block morescripts %}{% endblock %}
</body>
</html>
